<%- include('../components/header') %>
<link rel="stylesheet" href="/assets/css/sign.css">

<div class="main">
    <div class="sign-container">
        <div class="sign-form-container">
            <h1>Sign In</h1>
            <form action="/auth/sign-in" method="POST">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <div class="instruction"></div>
                <button type="submit">Sign Up</button>
            </form>
            <div class="other-methods">
                <a class="google-method" href="/auth/google"><i class="fa-brands fa-google alter other-method-icon"></i></a>
                <a class="facebook-method" href="/auth/facebook"><i class="fa-brands fa-facebook alter other-method-icon"></i></a>
                <a class="apple-method" href="/auth/apple"><i class="fa-brands fa-apple alter other-method-icon"></i></a>
            </div>
        </div>
        <div class="sign-img">
            <img src="/assets/imgs/sign-in.jpeg" alt="Sign Up">
        </div>
    </div>
</div>

<script src="/assets/js/checkRePasswordIsMatched.js"></script>

<%- include('../components/footer') %>