<%- include("./components/header.ejs") %>
<link rel="stylesheet" href="/assets/css/app.css">

    <div class="main">
        <div class="side-bar">
            <h2>All Your Kanban</h2>
            <% userKanbans.forEach(userKanban => { %>
                <a href="/user/abc/kanban/<%= userKanban._id.toString() %>">
                    <h4><%= userKanban.kanbanName %></h4>
                </a>
            <% }) %>
            <div class="create-new-kanban">
                
            </div>
        </div>
    </div>
<%- include("./components/footer.ejs") %>