@import "colors";
@import "fonts";


.main{
    // padding: 4em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 100vh;
    div.side-bar{
        grid-column: 1/4;
        h2{
            text-align: center;
        }
    }

}
