$item-color: #fadb6f;
$text-color: #e6e1dd;

<<<<<<< HEAD
$google-red-icon: #DB4437;
=======
$google-red-icon: rgb(219, 68, 55);
>>>>>>> 33b1dbb93d7f939dbb1ea8accfccbe2fa011e35a
$facebook-blue-icon: #3b5998;
$apple-black-icon: black