$item-font: "Ubuntu", sans-serif;
$item-regular: 400;
$item-medium: 500;
$item-bold: 700;
$heading-font: "Montserrat", sans-serif;
$heading-extra-bold: 800;
$heading-bold: 700;
$heading-medium: 500;
$short-font: 'Short Stack', cursive;