@import "fonts";
@import "colors";

div.main{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    div.side-bar{
        grid-column: 1/4;
    }
    .board-container{
        grid-column: 4/13;
    }
}