div.main {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  div.main div.side-bar {
    grid-column: 1/4;
    text-align: center; }
  div.main .board-container {
    grid-column: 4/13; }

.different-kanban {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .different-kanban .kanban-link {
    text-decoration: none;
    color: grey;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .different-kanban .kanban-link p {
      margin: 1em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: "Montserrat", sans-serif;
      font-weight: 700; }
  .different-kanban .kanban-link:hover {
    color: black; }
  .different-kanban .delete-kanban {
    color: grey;
    background: none;
    border: none;
    cursor: pointer; }
    .different-kanban .delete-kanban i {
      transition: all .1s;
      font-size: 1.8em;
      padding: .5em;
      display: none; }

.different-kanban:hover .delete-kanban i {
  display: block; }

.delete-kanban:hover i {
  color: #b04759; }

hr {
  margin: 0; }
