div.board-container {
  width: 90%;
  margin: auto;
  border-radius: 15px; }
  div.board-container div.different-sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px; }

.kanban-heading h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2em; }

.created-at {
  font-size: .7em;
  margin: 0;
  text-align: right; }

.main {
  padding: 2.5em 4em 4em 4em; }

div.board-section {
  min-height: 60vh;
  padding-bottom: 3.5em;
  border-radius: 15px; }

div.add-item {
  width: 100%; }

div.add-item form {
  display: flex;
  height: 3em; }

div.add-item form input {
  flex-grow: 1;
  border: none;
  text-align: center;
  border-bottom-left-radius: 15px; }

div.add-item form input:focus-visible {
  outline: none; }

input.centered-placeholder::placeholder {
  text-align: center; }

button.add-item-btn {
  border: none;
  padding: 0px 18px;
  border-bottom-right-radius: 15px; }

.item {
  width: 88%;
  margin: .8em auto;
  padding: .8em .8em;
  background-color: #fadb6f;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .item p {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif !important;
    font-weight: 500; }
  .item form.delete-item-form {
    display: none; }
    .item form.delete-item-form button {
      cursor: pointer; }
    .item form.delete-item-form button:hover {
      color: #b04759; }

.item:hover form.delete-item-form {
  display: block; }

.section-heading {
  padding-top: 1em;
  padding-bottom: 1.5em;
  text-align: center; }
  .section-heading h3 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 800; }
  .section-heading p {
    margin: 0;
    font-size: 14px; }

.editing-field {
  background-color: #fadb6f;
  padding: 0;
  width: 100%;
  margin: 0;
  overflow-y: auto;
  height: max-content;
  outline: none;
  cursor: text; }
